.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 80px;
    box-sizing: border-box; /* 패딩이 height에 포함되도록 설정 */

    .navTitle {
        font-size: 1.2em;
        font-weight: bold;
        color: white;

        .navText{
            @media screen and (max-width: 1240px) {
                display: none;
            }
        }   
    }

    .navList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .list {
            display: flex;
            align-items: center;
            color: white;
            background-color: transparent;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 */
            border: transparent;
            cursor: pointer;
            font-size: 0.95rem;

            .listIcon {
                margin-right: 24px;
                font-size: 18px;
                transition: opacity all 2s;

                @media screen and (max-width: 1240px) {
                    margin-right:0;
                }

            }

            .listText{
                display: inline;
                transition: opacity all 2s;

                @media screen and (max-width: 1240px) {
                    display: none;
                }
            }
        }
    }
    
    
    
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;

        .profileImg{
            width: 38px;
            height: 38px;
            border-radius: 100px;
            overflow: hidden;
            margin-bottom: 10px;
            border: 0.7px solid rgba(225, 225, 225, 0.7);
            box-shadow: 0 4px 6px rgba(225, 225, 225, 0.4);
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        
        .profileInfo {
            text-align: right;
            color: white;

            @media screen and (max-width: 1150px) {
               font-size: 0.8rem;
            }


            p:nth-child(2) {
                opacity: 40%;
            }
        }
    }
    
}

