.works {
    width: 100%;
    height: 100%;
    max-height: 780px;

    a {
        color: white;
    }
    

    .sliderContainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1%;
        
        .sliderButton {
            width: 2%;
            color: white;
            opacity: 0.8;
            cursor: pointer;

            @media (max-width: 768px) {
                        display: none;
            }
        }
        
        .slider {
            width: 92%;
            height: 90%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 768px) {
                    overflow: scroll;
                }

           .slideContainer{
                width: 100%;
                height: 100%;
                display: flex;
            
                justify-content: left;
                gap: 12px;

                @media (max-width: 768px) {
                        flex-direction: column;   
                        padding-left: 12px;
                        box-sizing: border-box;
                }

                .work {
                    min-width: calc((100% - 24px) / 3); /* gap 24px * 2 = 48px */
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1%;

                    .workTop {
                        width: 100%;
                        height: 12%;
                        background-color: var(--glass-bg);
                        backdrop-filter: var(--glass-blur);
                        filter: var(--glass-shadow);
                        border: var(--glass-border);
                        border-radius: var(--glass-radius);
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .workTitle{
                            font-size: 1em;
                            color: white;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
                            // margin-top: 24px; /* .work의 height값을 없앴더니 margin-top값이 해결 어이가 아리마셍~*/
                            margin-left: 24px;
                            // margin-bottom: 4px;
                        }

                        .pageLink {
                                margin: 0px 24px;
                                color: white;
                                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
                                cursor: pointer;

                                &:hover {
                                    filter: drop-shadow(0px 4px 4px rgba(225, 225, 225, 1));
                                }
                        }

                        .topkeyword{
                            border: 1px solid white;
                            color: white;
                            padding: 4px 12px;
                            border-radius: 16px;
                            margin-right: 18px;

                            @media (max-width: 980px) {
                                display: none;
                            }
                        }

                        .topActionLink {
                            
                            @media (max-width: 768px) {
                                height: 100%;
                                margin-left: 24px;
                                margin-top: 4px;
                                display: flex;
                                gap: 8px;
                            }

                            @media (min-width: 768px) {
                                display: none;
                            }
                        }

                        @media (max-width: 768px) {
                            height: 100%;
                        }

                    }

                    .workCenter {
                        width: 100%;
                        height: 80%;
                        background-color: var(--glass-bg);
                        backdrop-filter: var(--glass-blur);
                        filter: var(--glass-shadow);
                        border: var(--glass-border);
                        border-radius: var(--glass-radius);
                        overflow: hidden;
                        opacity: 0.9;
                        position: relative;
                        box-sizing: border-box;

                        img {
                            object-fit: cover;
                            object-position: top left;
                            display: block;
                        }

                        @media (max-width: 768px) {
                                display: none;
                        }
                    }
                    .actionLink{
                        margin-top: 4px;
                        margin-bottom: 4px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        gap: 5px;
                    }

                    .workKeywords {
                                cursor: pointer;
                                display: inline-block; /* 또는 block, flex 등 */
                                width: 30%;
                                text-align: center;
                                font-size: 0.9em;
                                color: white ;
                                padding: 5px 0;
                                border-radius: 8px;
                                border: 1px solid rgba(255, 255, 255, 0.2);
                                // background-color: rgba(255, 255, 255, 0.3);
                                background-color:rgba(183, 183, 183, 0.7);
                                filter: drop-shadow(4px 4px 10px rgb(0, 0, 0));
                                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 */
                                backdrop-filter: blur(10px);
                                // box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
                                box-shadow:
                                    inset 0 1px 3px rgba(255, 255, 255, 0.6),   /* 안쪽 위쪽 밝은 빛 */
                                    inset 0 -1px 3px rgba(0, 0, 0, 0.2),        /* 안쪽 아래쪽 어두운 그림자 */
                                    0 4px 6px rgba(0, 0, 0, 0.4);               /* 외부 그림자 (요소가 떠 있는 느낌) */
                            }

                            .workKeywords:hover{
                                border: 1px solid rgba(255, 255, 255, 0.1);
                                box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
                            }
                    
                           
                    
                    .workkeyworkds:hover{
                        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
                    }

                    .workBottom {
                        width: 100%;
                        height: 24%;
                        background-color: var(--glass-bg);
                        backdrop-filter: blur(20px);;
                        filter: var(--glass-shadow);
                        border: var(--glass-border);
                        border-radius: var(--glass-radius);
                        box-sizing: border-box;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                         @media (max-width: 768px) {
                                display: none;
                        }

                        .workBottoms {
                            font-size: 0.9em;
                            opacity: 0.5;
                            color: white;
                            position: absolute;
                            top: 18px;
                            left: 20px;
                        }

                        .keywordBox {
                            background: none;
                            margin-top: 12px;

                            @media (max-width: 1400px) {
                                  display: none;
                                }
                            
                            .keywordFirst{
                                margin-bottom: 16px;
                            }

                            .keywordSecond{
                                
                            }
                        
                            .workKeyword {
                                font-size: 0.95em;
                                color: white ;
                                margin-right: 5px;
                                padding: 4px 8px;
                                border-radius: 8px;
                                // border: 1px solid rgba(62, 61, 61, 0.2);
                                // background-color:  rgba(66, 65, 65, 0.5);
                                // filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.1));
                                // text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1); /* 텍스트 그림자 */
                            }
                        }

                        .actionLink {
                            margin-top: 25px;
                            margin-bottom: 10px;
                            display: flex;
                            justify-content: center;
                            gap: 32px;

                            @media (max-width: 1400px) {
                                margin-top: 60px;
                              }

                            span{
                                color: white;
                                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
                                cursor: pointer;

                                &:hover {
                                    filter: drop-shadow(0px 4px 4px rgba(225, 225, 225, 1));
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}